<div class="includeexclude-control">
    <div class="includeexclude-control form-control" ng-class="{'has-error': ctrl.hasError}">
        <div ng-repeat="item in ctrl.itemList"
             class="includeexclude-badge form-control"
             ng-class="item.included ? 'isIncluded' :'isExcluded'">
            <span ng-if="!ctrl.displayValues">{{item[ctrl.propertyName]}}</span>
            <span ng-if="ctrl.displayValues">
                <span ng-repeat-start="propertyName in ctrl.displayValues" ng-if="$first">{{item[propertyName]}}</span>
                <span ng-repeat-end ng-if="!$first">-&nbsp;{{item[propertyName]}}</span>
            </span>
            <i class="fa fa-times" ng-click="ctrl.removeItem(item)"></i>
        </div>
    </div>
    <div class="btn-group margin-top" style="width:100%;">
        <button type="button" class="btn btn-primary" ng-click="ctrl.addItems()">Add</button>
        <button type="button" class="btn btn-default" ng-click="ctrl.clearAll()">Clear all</button>
    </div>
</div>