<div id="includeexclude">
    <div class="modal-header include-exclude-modal-header">
        <a>
            <i ng-click="ctrl.close()" class="fa fa-times pull-right"></i>
        </a>
        <div class="include-exclude-modal-control">
            <textarea class="form-control" rows="5" placeholder="Paste or write your input here." 
                        ng-model="ctrl.input" set-focus="ctrl.focusInput" ng-disabled="ctrl.loading"></textarea>
        </div>
        <div class="btn-group">
            <button type="button"
                    class="btn btn-primary"
                    ng-click="ctrl.includeItems(ctrl.input, true)"
                    ng-hide="ctrl.onlyExclude"
                    ng-disabled="ctrl.loading"
                    ng-class="{'only-include': ctrl.onlyInclude}">
                <span ng-show="ctrl.loading">
                    <i class="fa fa-circle-o-notch fa-spin" style="font-size: 16px"></i>
                </span>
                Include
            </button>
            <button type="button"
                    class="btn btn-danger"
                    ng-click="ctrl.includeItems(ctrl.input, false)"
                    ng-hide="ctrl.onlyInclude"
                    ng-disabled="ctrl.loading"
                    ng-class="{'only-exclude': ctrl.onlyExclude}">
                <span ng-show="ctrl.loading">
                    <i class="fa fa-circle-o-notch fa-spin" style="font-size: 16px"></i>
                </span>
                Exclude
            </button>
        </div>
    </div>
</div>