.includeexclude-control {
	width: 200px !important;
	position: relative;

    .btn{
        width:50%;
    }
    .btn-large{
        width: 100% !important;
    }
}

.includeexclude-control.form-control {
	height: 200px !important;
	overflow-y: scroll;
	overflow-x: auto;
}

.includeexclude-badge.form-control {
	margin-top: 3px !important;
	cursor: pointer;
	min-width: 100px;
	display: inline-table;
	background: white;
	transition: background .5s;
}

.includeexclude-badge.form-control:hover {
	background: rgba(0, 0, 0, 0.6);
}

.includeexclude-badge.form-control i {
	display: inline-block;
	position: absolute;
	left: 20px;
	color: white;
	opacity: 0;
	transition: opacity .5s;
    margin-top: 3px;
}

.includeexclude-badge.form-control:hover i {
	opacity: 1;
}

.includeexclude-badge.form-control.isExcluded {
	border-color: #f74444 !important;
	outline: 0 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(233, 102, 102, 0.6) !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(233, 102, 102, 0.6) !important;
}

.includeexclude-badge.form-control.isIncluded {
	border-color: #5ade64 !important;
	outline: 0 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(15, 251, 0, 0.6) !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(15, 251, 0, 0.6) !important;
}

#includeexclude .modal-header {
	border-bottom: 0px !important;
}

.has-error{
    border-color:#ea8381;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.include-exclude-modal-header{
    a{
        position:absolute;
        width: 93%;
        margin-top: -11px;
    }
    .btn-group{
        width:90%;
        margin-left:14px;
        .btn{
            width:50%;
        }
        .only-include{
            width: 100%;
            border-radius: 4px !important;
        }
        .only-exclude{
            width: 100%;
            border-radius: 4px !important;
        }
    }
}

.include-exclude-modal-control{
    textarea{
        width:90%;
        resize: none;
        margin-left:auto;
        margin-right:auto;
    }
}