<!doctype html>
<html ng-app="cwt.include-exclude">

<head>
  <meta charset="utf-8">
  <title>CWT include exclude</title>
  <meta name="description" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,minimum-scale=1.0">
  <!-- bower:css -->
  <!-- endbower -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="styles/include-exclude.css" />
</head>

<body ng-controller="ctrl as ctrl">

  <cwt-include-exclude data-callback="ctrl.checkIfValueExists(data)" data-property-name="number" data-data-model="ctrl.outputModel"
    data-has-error="false" data-only-include="false" data-only-exclude="false" data-first-pick-sticks="true"></cwt-include-exclude>

  <cwt-include-exclude data-callback="ctrl.checkIfValueExists(data)" data-property-name="number" data-display-values="['number','name', 'test']" data-data-model="ctrl.outputModel2"
    data-has-error="false" data-only-include="false" data-only-exclude="false" data-first-pick-sticks="true"></cwt-include-exclude>
  <button ng-click="ctrl.printModel()">Print</button>

  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- endbower -->
  <script>

angular.module('cwt.include-exclude', ['ui.bootstrap']).controller('ctrl',function($timeout){

  var ctrl = this;

  ctrl.printModel = function(){
    console.log(ctrl.outputModel);
  }
  ctrl.checkIfValueExists = function(data){
  return $timeout(function() {
    return [
    {
      "id": 1,
      "number": "1",
      "name": "hello",
      "test": "hello2",
      "test2": "hello3"
    },
    {
      "id": 2,
      "number": "2",
      "name": "hello",
      "test": "hello2",
      "test2": "hello3"
    },
    {
      "id": 3,
      "number": "3",
      "name": "hello",
      "test": "hello2",
      "test2": "hello3"
    },
    {
      "id": 4,
      "number": "4",
      "name": "hello",
      "test": "hello2",
      "test2": "hello3"
    },
    {
      "id": 5,
      "number": "5",
      "name": "hello",
      "test": "hello2",
      "test2": "hello3"
    }
    ]
  }, 1000);
  }
});

</script>

  <script src="scripts/directives/include-exclude.js"></script>
  <script src="scripts/directives/modalcontroller.js"></script>
  <script src="scripts/directives/focusdirective.js"></script>
</body>

</html>